# warcs path location for listing
WARCS_PATH=/dpool/arc/pywb/webarchive/collections/stacks/archive/

# browsertrix cloud variables
BTRIX_USER=""
BTRIX_PASS=""
BTRIX_ORG=""
BTRIX_LOGIN_URL="http://localhost:30870/api/auth/jwt/login"
BTRIX_WORKFLOW_URL="http://localhost:30870/api/orgs/$BTRIX_ORG/crawlconfigs/"

### workflow seed template variables
SEEDCRAWL_TMPL=seed-crawl.tmpl
SEEDURL_REPLACE="###SEEDURL###"
